<h1>Editing filesystem item</h1>

<%= render "form", filesystem_item: @filesystem_item %>

<br>

<div>
  <%= link_to "Show this filesystem item", @filesystem_item %> |
  <%= link_to "Back to filesystem items", filesystem_items_path %>
</div>
